<p class="googleadsense">
{% if site.googleadsense_id %}
<!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="{{ site.googleadsense_id }}"
     data-ad-slot="{{ site.googleadsense_slot }}"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>-->
{% endif %}

</p>
<p>
	{% if site.github_user %}
		<a href="http://github.com/{{site.github_user}}" class="btn btn-dark">GitHub</a>
	{% endif %}
	{% if site.twitter_user %}
		<a href="http://twitter.com/{{site.twitter_user}}" class="btn btn-dark">Twitter</a>
	{% endif %}
</p>