#fileupload-example-1 {
    background: #999999;
    color: #ffffff;
    font-size: 18px;
    border: 2px solid red;
}

#fileupload-example-2 {
    -webkit-appearance: button; 
    -moz-appearance: button;
}

#fileupload-example-3::-webkit-file-upload-button {
    color: white;
    border: 1px solid green;
    border-radius: 5px;
    background: red;
}

#fileupload-example-4 {
	height: 0;
	width: 0;
}

#fileupload-example-4-label {
    border: 1px solid #cccccc;
    padding: 5px;
}

#fileupload-example-5 {
    position: relative;
    overflow: hidden;
}

#fileupload-example-5 input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.001
}